//Brand Palette
$cardinal-red: #e41f35;
$cardinal-black: #27251f;
$cardinal-blue: #bbdde6;
$warm-gray-7: #948a85;
$warm-gray-1: #efefef;

//Extended Brand Palette
$brand-blue-1: #e6f5f7;
$brand-blue-2: #85b6c6;
$brand-blue-3: #6097ad;
$brand-blue-4: #3f7d98;
$brand-blue-7: #005c78;
$brand-blue-10: #12465b;
$brand-blue-12: #183847;

//Primary Interactive Palette
$primary-interactive-color: #3f7d98;
$text-link-color: #005c78;
$hover-color: #12445b;
$disabled-color: #b3cbd6;
$visited-links: #660099;

//Gray Component Palette

$Gray-90: #404041;
$Gray-80: #58595b;
$Gray-70: #888888;
$Gray-60: #acabaa;
$Gray-50: #c3c3c3;
$Gray-40: #d3d2d3;
$Gray-30: #e2e1e1;
$Gray-20: #efefef;
$Gray-10: #f7f7f7;

//Notices

$error-dark-color: #9b161a;
$error-base-color: #c61c2d;
$error-lt-color: #fce3e5;
$warning-dark-color: #a95b06;
$warning-base-color: #e09a00;
$warning-lt-color: #ffedc4;
$success-dark-color: #254e14;
$success-base-color: #3b6d25;
$success-lt-color: #e2f0d7;
$informational-dark-color: #005c78;
$informational-base-color: #3f7d98;
$informational-lt-color: #e6f5f7;

//Extended Illustration Palette
$blue-jay-dark-color: #539ed1;
$blue-jay-base-color: #80b8db;
$blue-jay-lt-color: #a6cfe8;
$robin-egg-dark-color: #64c8ce;
$robin-egg-base-color: #90d3d9;
$robin-egg-lt-color: #bfe4e8;
$sky-blue-dark-color: #b6d9e8;
$sky-blue-base-color: #ceebf0;
$sky-blue-lt-color: #e6f5f7;
$grasshopper-dark-color: #73d19e;
$grasshopper-base-color: #99deb8;
$grasshopper-lt-color: #b8e8cf;
$duckbill-dark-color: #f79c59;
$duckbill-base-color: #fab07d;
$duckbill-lt-color: #fcd1b2;
$canary-dark-color: #fcc954;
$canary-base-color: #ffd98a;
$canary-lt-color: #ffedc4;
$papillon-dark-color: #aaa1cf;
$papillon-base-color: #c4bddb;
$papillon-lt-color: #d1cce3;
$flamingo-dark-color: #cf70ad;
$flamingo-base-color: #de9cc7;
$flamingo-lt-color: #e7bdd9;
$dragon-wing-dark-color: #966aa1;
$dragon-wing-base-color: #af8fb8;
$dragon-wing-lt-color: #c4abc7;
