@import "./cah-colors";

@mixin OpenSans($weight) {
  font-family: "Open Sans", sans-serif !important;
  @if $weight == bold {
    font-weight: 700 !important;
  }
  @if $weight == bolder {
    font-weight: 600 !important;
  }
  @if $weight == medium {
    font-weight: 500 !important;
  }
  @if $weight == regular {
    font-weight: 400 !important;
  }
  @if $weight == normal {
    font-weight: 400 !important;
  }
  @if $weight == light {
    font-weight: 300 !important;
  }
  @if $weight == thin {
    font-weight: 100 !important;
  }
}

h1,
.header-h1 {
  @include OpenSans(light);
  font-size: 2rem !important;
  color: $cardinal-black !important;
}

h2,
.header-h2 {
  @include OpenSans(bold);
  font-size: 1.875rem !important;
  color: $cardinal-black !important;
}

h3,
.header-h3 {
  @include OpenSans(normal);
  font-size: 1.5rem !important;
  color: $cardinal-black !important;
}

h4,
.header-h4 {
  @include OpenSans(normal);
  font-size: 1.125rem !important;
  color: $cardinal-black !important;
}

h5,
.header-h5 {
  @include OpenSans(bold);
  font-size: 1rem !important;
  color: $cardinal-black !important;
}

h6,
.header-h6 {
  @include OpenSans(bold);
  font-size: 0.8125rem !important;
  color: $cardinal-black !important;
}

.body-text {
  @include OpenSans(normal);
  font-size: 14px !important;
  color: $cardinal-black !important;
}

.small-body-text {
  @include OpenSans(normal);
  font-size: 11.375px !important;
  color: $cardinal-black !important;
}

.text-link {
  @include OpenSans(normal);
  font-size: 1rem !important;
  color: $text-link-color !important;
  text-decoration: underline;

  &:hover {
    color: $hover-color !important;
  }
  &:visited {
    color: $visited-links !important;
  }
}

.small-text-link {
  @include OpenSans(normal);
  font-size: 0.8125rem !important;
  color: $text-link-color !important;
  text-decoration: underline;

  &:hover {
    color: $hover-color !important;
  }
  &:visited {
    color: $visited-links !important;
  }
}
