@import "../styles/breakpoints";
@import "../styles/fonts";
@import '../styles/cah-colors';
.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  border-bottom: 3px solid #e42035;
}

.pharmacy-info {
  background-color: #f8f9fa;

  .label {
    color: #000;
    text-align: right;
    font-feature-settings:
      "liga" off,
      "clig" off;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
  }
  .data {
    color: #0073ff;
    font-feature-settings:
      "liga" off,
      "clig" off;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
}

.page-title {
  font-family: Inter;
  font-weight: 500;
  font-size: 32px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #888888;
  margin-left: 24px;
}

.username-div {
  display: contents;
  .username {
    color: #27251f;
    text-align: right;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    margin-right: 4px;
  }

  .circle-btn {
    width: 44.62px;
    height: 44px;
    border-radius: 50%;
    background-color: #bbdde6;

    color: #404041;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 122.222% */
  }
}

.logout-text {
  color: var(--brand-cardinal-black-27251-f, #27251f);
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.line {
  padding: 0px 0.25px 0px 0.25px;
  background: #948a85;
  margin: 1px 5px;
  width: 1.014px;
  height: 29.73px;
}

.desktop-header-bar {
  display: flex;
  @include respond-to(sm) {
    display: none;
  }
 
  @include respond-to(md) {
    .page-title {
      @include OpenSans(medium);
      font-size: 28px;
      line-height: 20px;
      letter-spacing: 0px;
    }
    .pharmacy-info {
      .label {
        @include OpenSans(regular);
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: right;
        vertical-align: bottom;
      }
      .data {
        @include OpenSans(bolder);
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: right;
        vertical-align: bottom;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-offset: 0%;
        text-decoration-thickness: 0%;
        text-decoration-skip-ink: auto;
      }
    }

    .username-div {
      font-family: Open Sans;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: right;
    }
    .logout-text {
      font-family: Open Sans;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0px;
    }
  }
  @include respond-to(lg) {
    .page-title {
      @include OpenSans(medium);
      font-size: 28px;
      line-height: 20px;
      letter-spacing: 0px;
    }
    .pharmacy-info {
      .label {
        @include OpenSans(regular);
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: right;
        vertical-align: bottom;
      }
      .data {
        @include OpenSans(bolder);
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: right;
        vertical-align: bottom;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-offset: 0%;
        text-decoration-thickness: 0%;
        text-decoration-skip-ink: auto;
      }
    }

    .username-div {
      @include OpenSans(regular);
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: right;
    }
    .logout-text {
      font-family: Open Sans;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0px;
    }
  }
}

.mobile-header-bar {
  display: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 0;
  padding-right: 0;

  .brand-name,
  .page-title {
    @include OpenSans(regular);
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .brand-name {
    color: $cardinal-red;
  }

  .spacer {
    flex: 1 1 auto;
  }
  @include respond-to(sm) {
    display: flex;
  }
}
